@function mat-contrast($palette, $hue) {
    @return map-get(map-get($palette, contrast), $hue);
}

@function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700, $text: $default) {
    $result: map_merge($base-palette, (
      default: map-get($base-palette, $default),
      lighter: map-get($base-palette, $lighter),
      darker: map-get($base-palette, $darker),
      text: map-get($base-palette, $text),
  
      //default-contrast: mat-contrast($base-palette, $default),
      //lighter-contrast: mat-contrast($base-palette, $lighter),
      //darker-contrast: mat-contrast($base-palette, $darker)
    ));
  
    // For each hue in the palette, add a "-contrast" color to the map.
    @each $hue, $color in $base-palette {
      $result: map_merge($result, (
        // '#{$hue}-contrast': mat-contrast($base-palette, $hue)
      ));
    }
  
    @return $result;
}

@function _mat-create-light-color-config($primary, $accent, $warn: null) {
    @return (
      primary: $primary,
      accent: $accent,
      is-dark: false,
      foreground: $mat-light-theme-foreground,
      background: $mat-light-theme-background,
    );
  }

@function mat-light-theme($primary, $accent: null, $warn: null) {
    $result: $primary;
    @if map_get($primary, color) {
      $color-settings: map_get($primary, color);
      $primary: map_get($color-settings, primary);
      $accent: map_get($color-settings, accent);
      $warn: map_get($color-settings, warn);
      $result: map_merge($result, (color: _mat-create-light-color-config($primary, $accent, $warn)));
    }
    @return $result;
}


@function mat-get-color-config($theme, $default: null) {
    @return $theme;
}
